<nav class="bg-white">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <!-- logo!! :)  -->
            <div class="bg-pink border-3 border-black w-12 h-12 rounded-full flex items-center justify-center">
                <img src="<%= image_url('fork.png') %>" alt="Fast Food" class="h-6 w-6">
            </div>
        </div>
      </div>
      
      <div class="flex items-center space-x-4">
        <button class="bg-pink border-3 border-black rounded-[30px] px-4 py-2 text-white font-bold tracking-wide shadow-md hover:opacity-70">
            How It Works
        </button>
        <button class="bg-blue border-3 border-black rounded-[30px] px-4 py-2 text-white font-bold tracking-wide shadow-md hover:opacity-70">
            Adventurers
        </button>
      </div>
    </div>
  </div>
</nav>