<div class="min-h-screen flex flex-col justify-start items-center pt-24">
    <div class="text-center max-w-500px px-4" style="max-width: 700px">
        <h1 class="text-5xl font-bold text-blue mb-4">Adventure Scheduled</h1>
        <h2 class="text-xl text-blue mb-4">Your adventure has been scheduled successfully! You will receive a text message on your selected Date and Time to kickstart your food truck adventure!</h2>
        <div class="pt-6">
            <a href="/" class="bg-pink border-3 border-black rounded-[30px] px-4 py-2 text-white font-bold tracking-wide shadow-md hover:opacity-70">
                Home
            </a>
        </div>
    </div>
</div>
